[Unit]
Description=Kinto Storage Service
Documentation=http://kinto.readthedocs.io/

[Service]
Type=simple
ExecStart=/opt/kinto/bin/kinto --ini /etc/opt/kinto/kinto.ini start
Restart=always

[Install]
WantedBy=multi-user.target
