[Unit]
Description=Kinto Storage Service
Documentation=http://kinto.readthedocs.io/

[Service]
Type=simple
ExecStart=/opt/kinto/bin/kinto start --ini /etc/opt/kinto/kinto.ini
Restart=always

[Install]
WantedBy=multi-user.target
